body {
    background-image: url(images/sky.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.header {
    background-image: url(images/sky2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.container {
    font-family:  monospace;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    animation: color-change 15s infinite;
}

@keyframes color-change {
    10% { color: darkseagreen; }
    20% { color: antiquewhite; }
    30% { color: plum; }
    40% { color: darksalmon; }
    50% { color: seagreen; }
    60% { color: thistle; }
    70% { color: darkslategray; }
    80% { color: peachpuff; }
    90% { color: darkgreen; }
    100% { color: olive; }
}

h4 {
    font-weight: bold;
}

.IDtext h4 {
    color: indianred;
    font-size: 20px;
    padding-left: 50px;
}

.rowID {
    padding-top: 30px;
    padding-bottom: 40px;
}

.inputText {
    padding-top: 6px;
}

#humidity-img {
    width: 300px;
    height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#humidity {
    font-size: 30px;
}

#rain-img {
    width: 300px;
    height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rain {
    font-size: 30px;
}